/* styles.css */

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #ffffff;
}


/* sekcia-header začiatok */

.header-section{

    height: 50px;
    text-align: center;
    margin-top: 20px;
    

}

.header a, header p {
    display: inline-block;
    padding: 11px;
    margin-right: 5px;
    font-size: 13px;
    justify-content: center;
}



.header {
    text-align: center; /* Zarovnanie textu na stred */
}



.header a {

    display: inline-block;
    text-decoration: none;
  
    font-weight: 650;
    font-size: 12px;
    color: #989ca2;
    line-height: 1.1;
    padding: 6px 10px;
    vertical-align: middle;
  
    width: 165.5px;
    height: 20px;
    padding: 6px 10px;
  
    border: 1px solid rgba(152, 156, 162, 0.15);
    border-radius: 32px;
    position: relative;
    background-color: rgba(152, 156, 162, 0.15);
  

}

.header img{

    margin-left: -32px; /* Posunutie obrázka doľava o 10px */

}

/* sekcia-header koniec */



  

/* sekcia - navigácia začiatok */
.separator {
    border-top: 1px solid#d7eaff; /* Hrúbka a farba čiary */
    margin: 10px 0; /* Medzera nad a pod čiarou */
    
}

.navigation-section {
    margin-top: 80px; /* Posunutie sekcie nadol o 80px */
}


ul, li,
.logo {


    display: inline-block;
    margin: 12px 0;
    height: 79px;
    display: flex;
    border-bottom: none;
    align-items: center;
    margin: 5px auto;
}



.nv-icon {
    font-family: "SF Pro Display", sans-serif;
    font-size: 13px;
    color: #121a24;
    font-weight: 620;
    margin-left: 1rem;
    text-decoration: none;
    padding: 9px;
}


.navigation-section nav ul li a {
    color: rgb(7, 3, 3);
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s;
    font-size: 12px;
    
}

.navigation-section nav ul li a:hover {
    color: #3597FF;
}

.navigation-section {
    margin-right: -20px; /* Posunutie celej sekcie doľava o 20px */
}
  
.navigation-section nav {
    margin-right: 20px; /* Posunutie obsahu nav elementu doľava o 20px */
}
  
.nv-butn button {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;   /* Zmena veľkosti písma v tlačítku */
    width: 156px;      /* Zmena šírky tlačítka */
    height: 45px;      /* Zmena výšky tlačítka */
    background-color: #3597ff; /* Zmena farby pozadia */
    color: #ffffff;    /* Zmena farby textu */
    border: 1px solid #3597ff ; /* Odstránenie okraja tlačítka */
    border-radius: 7px; /* Zakrivené rohy tlačítka */
    cursor: pointer;   /* Zmena kurzoru na rukoväť */
}

.nv-butn button {
    float: right;
    margin-top: -130px;
    
}

.navigation-section .nv-butn button {
    margin-left: 100px; /* Upravte hodnotu podľa potreby */

}
/* sekcia - navigácia koniec */




/* sekcia - inštitút začiatok */
.institute-senction {
    position: relative;
    z-index: -1;
    margin-bottom: 48px;
    height: 440px;
    font-family: "SF Pro Display", sans-serif;
    background-color: #3597FF;
}
.institute-senction aside {
    width: 100vw;
    position: absolute;
    top: 200px;
    left: calc(100vw - 250px);
}
  
.container {
    max-width: 1320px;
    margin: 0 auto;
}
  
.text-part h1 {
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 1rem;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
}

.text-part p {
    margin-left: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}
  
.text-part{
    padding: 0;
    margin-bottom: 50px;
    height: 440px;
    width: 550px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.institute-senction .container {
    background-image: url("https://openlab.sk/wp-content/themes/wp-bootstrap-starter/assets/images/main-home.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 15px;
}
/* sekcia - inštitút koniec */
  



/* sekcia - prečo openlab začiatok */
.why-openlab-section h2  {

    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    
}

.normal {
    font-weight: normal;
}

.highlight {
    font-weight: bold;
}


.why-openlab-section p  {

    text-align: center;
    color: #566b8d;
}
/* sekcia - prečo openlab koniec */




/* sekcia - spoloč. rozvoj začiatok */
.social-development-section {
    margin-left: 50px; /* Príklad hodnoty, ktorá posunie sekciu doprava */
    margin-left: 250px;
    padding: 59px 0;
    font-family: "SF Pro Display", sans-serif;
    height: 421px;
    text-align: left;
}

.social-development-section p {
    color: #566b8d;
    
}
/* sekcia - spoloč. rozvoj koniec */




/* sekcia - spoloč. rozvoj začiatok */
.learning-by-doing-section {
    
    margin-top: -480px;
    margin-left: 650px; /* Príklad hodnoty, ktorá posunie sekciu doprava */


}

.learning-by-doing-section p {
    color: #566b8d;
    
}
/* sekcia - spoloč. rozvoj koniec */





/* sekcia - talent začiatok */
.talent-development-section{

    
    margin-right: 50px;

    margin-left: 970px; /* Príklad hodnoty, ktorá posunie sekciu doprava */
    margin-top: -197px;
    

}

.talent-development-section p {
    color: #566b8d;
    
}
/* sekcia - talent koniec */






/* sekcia - naša vízia začiatok */
.our-vision-section {
    margin-top: 190px; /* Prispôsobte hodnotu podľa potreby */
}

.our-vision-section p {

    color: #566b8d;
    line-height: 1.3; /* Prispôsobte hodnotu podľa potreby */
   
    
}

.our-vision-section h2 {
    margin-bottom: 40px; /* Prispôsobte hodnotu medzery podľa potreby */
    font-size: calc(1.375rem + 1.5vw);
}

.normal {
    font-weight: normal;
}

.highlight {
    font-weight: bold;
}

.our-vision-section {
    margin-left: 80px; /* Prispôsobte hodnotu posunu podľa potreby */
}
/* sekcia - naša vízia koniec */











/* sekcia -  štatistika začiatok */
.statistics-section {
    display: flex;
    flex-direction: column;
}

.sixth-class {
    position: relative;
    margin-left: 870px;
    top: -260px; /* Posunie text nahor o 10 pixelov */
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
    width: 233px;
    height: 183px;
    border-radius: 4px;
}

.sixth-class .six  {

    font-size: 90px;
    margin-left: 150px;
    margin-top: 60px;
}


.sixth-class .class  {

    margin-left: 165px;
    margin-top: -100px;
    font-size: 18px;
}

.twohundred-class {

    position: relative;
    margin-left: 1130px;
    top: -443px; /* Posunie text nahor o 10 pixelov */

    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
    width: 233px;
    height: 183px;
    border-radius: 4px;
}

.twohundred-class .two-hundred {

    font-size: 90px;
    margin-left: 50px;
    margin-top: 60px;
}


.twohundred-class .students {

    margin-left: 135px;
    margin-top: -100px;
    font-size: 18px;
}

.twelve-class {

    position: relative;
    margin-left: 870px;
    top: -415px; /* Posunie text nahor o 10 pixelov */

    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);

    width: 233px;
    height: 183px;
    border-radius: 4px;
}


.twelve-class .twelve {

    font-size: 90px;
    margin-left: 100px;
    margin-top: 60px;
}

.twelve-class .labmasters{

    margin-left: 106px;
    margin-top: -100px;
    font-size: 18px;

}

.two-class {

    position: relative;
    margin-left: 1130px;
    top: -598px; /* Posunie text nahor o 10 pixelov */

    
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);

    width: 233px;
    height: 183px;
    border-radius: 4px;
}

.two-class .two{

    font-size: 90px;
    margin-left: 150px;
    margin-top: 60px;
}

.two-class .schools{
    

    margin-left: 155px;
    margin-top: -100px;
    font-size: 18px;
}
/* sekcia -  štatistika koniec */






/* sekcia -  labovia začiatok */
.labs-section{

    margin-top: -460px;

}

.normal {
    font-weight: normal;
}

.highlight {
    font-weight: bold;
}
/* sekcia -  labovia koniec */








/* sekcia -  lokácie začiatok */
.locations-section h2{
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);

}

.locations-section img {

    margin-top: 50px;

}

.locations-section .skola1 {

    margin-left: 130px;

}

.locations-section .skola2 {

    margin-top: -497px;
    margin-left: 750px;

}

.locations-section .skola1 p{

    margin-left: 0px;
    color: #566b8d; 
   
}

.locations-section .skola1 h4{

    font-size: 1.25rem;
}

.locations-section .skola1 a{

    margin-left: 365px;
    font-size: 1.125rem !important;
    text-decoration: none;
    color: #3597ff
    

}

.locations-section .skola1 a{
    position: relative;
    top: -50px; /* Alebo iná vhodná hodnota */
}

.locations-section .skola2 p{

    margin-left: 0px;
    color: #566b8d; 
   
}

.locations-section .skola2 h4{

    font-size: 1.25rem;
}

.locations-section .skola2 a{

    margin-left: 450px;
    font-size: 1.125rem !important;
    text-decoration: none;
    color: #3597ff
    
    
    

}

.locations-section .skola2 a{
    position: relative;
    top: -50px; /* Alebo iná vhodná hodnota */
    left: -50px;
}
/* sekcia -  lokácie koniec */  






/* sekcia -  čim sme výnimočný? začiatok */  

.What-makes-us-special h2 {

    text-align: center;
    font-size: calc(1.375rem + 1.5vw);


}


.cast-row {
    display: flex;
    justify-content: flex-start; /* Upravujeme zarovnanie na začiatok */
    flex-wrap: wrap; /* Obrázky budú prelomiť na nový riadok */
    gap: 10px; /* Menšia medzera medzi obrázkami */
    margin-bottom: 20px;
    margin-left: 35px;
}
  
.cast {
    flex: 0 0 calc(23% - 10px); /* Úprava šírky s menšou medzerou */
    margin-right: 10px;
    margin-left: 12px;
    
    
}
  
.cast img {
    height: auto;
    
}

.What-makes-us-special .cast-row .cast{

    margin-left: 85px;

}

.What-makes-us-special .cast-row .cast h4 {

    font-size: 1.25rem;
    
}

.What-makes-us-special .cast-row .cast p {

    color: #566b8d;
}

.What-makes-us-special h2 {

    
    margin-top: -30px ;
    
    
}
/* sekcia -  čim sme výnimočný? koniec */  








/* sekcia -  Spoznájte nás začiatok */  
.Get-to-know-us h3{

    font-size: calc(1.375rem + 1.5vw);
    text-align: center;

}

.Get-to-know-us{

    margin-top: 100px ;

}

.prve6 {
    display: flex;
    justify-content: flex-start; /* Upravujeme zarovnanie na začiatok */
    flex-wrap: wrap; /* Obrázky budú prelomiť na nový riadok */
    gap: 10px; /* Menšia medzera medzi obrázkami */
    margin-bottom: 20px;
    margin-left: 35px;
}
  
.clen {
    flex: 0 0 calc(23% - 10px); /* Úprava šírky s menšou medzerou */
    margin-right: 10px;
    margin-left: 12px;
    
    
}
  
.clen img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Prispôsobte hodnotu podľa vášho vkusu */
}
  
.clen h4 {
    margin-top: 10px;
}

.prve6 p {

    color: #566b8d; 
    margin-top: -25px;


}

.prve6 h6 {

    color: #566b8d;
    font-size: 14px;
    margin-top: 7px;


}

.prve6 h4 {

    font-size: 1.25rem;
    margin-top: -10px;

}
/* sekcia -  Spoznájte nás koniec */  







  

  

  









/* sekcia -  Podporte nás začiatok */  
.Support_us .pomoc-pic {

    margin-left: 50px;
    


}

.Support_us .together {

    margin-top: -350px ;
    margin-left: 750px;




}

.Support_us .together h2{

    font-size: calc(1.325rem + .9vw);
}


.Support_us .together p{

    color: #566b8d; 

}

.Support_us .together a{

    color: #3597ff !important;
    text-decoration: none;

    
}
/* sekcia -  Podporte nás koniec */  






/* sekcia -  Kto stojí za openlabom začiatok */  
.Who-stands-behind-Openlab {

    margin-top: 300px;

}

.Who-stands-behind-Openlab h2 {

    margin-left: 80px;
    font-size: calc(1.375rem + 1.5vw);

}
 
.Who-stands-behind-Openlab .image-row1{

    margin-top: -190px;
    margin-left: 600px;
    display: flex;
    gap: 100px;
    
}

.Who-stands-behind-Openlab .image-row2{
    margin-left: 730px;
    margin-top: -80px;
    display: flex;
    gap: 45px;
}

.Who-stands-behind-Openlab{

    margin-bottom: 100px;
}

.Instagram_pict {

    margin-bottom: 250px;



}
/* sekcia -  Kto stojí za openlabom koniec */





/* sekcia -  Moderná škola začiatok */
.Modern_School .prva1 h2 {

    margin-left: 80px;
    font-size: calc(1.375rem + 1.5vw);


}

.Modern_School .prva1 p {

    color: #566b8d; 
    margin-left: 80px;
    line-height: 1.2;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    


}


.Modern_School .prva1 img {

    margin-left: 730px;
    margin-top: -230px;
}


.Modern_School .prva2 {

    margin-left: 80px;
    margin-top: -110px;
    margin-bottom: 15px;
}

.button-section2 button {

    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;   /* Zmena veľkosti písma v tlačítku */
    width: 180px;      /* Zmena šírky tlačítka */
    height: 54px;      /* Zmena výšky tlačítka */
    margin-left: 80px;
    background-color: #3597ff; /* Zmena farby pozadia */
    color: #ffffff;    /* Zmena farby textu */
    border: 1px solid #3597ff ; /* Odstránenie okraja tlačítka */
    border-radius: 6px; /* Zakrivené rohy tlačítka */
    cursor: pointer;   /* Zmena kurzoru na rukoväť */

}
/* sekcia -  Moderná škola koniec */





/* sekcia -  Ďakujeme za podporu v roku 2022! začiatok */
.Thank-you-for-your-support-in-2022{

    margin-top: 200px;

}

.Thank-you-for-your-support-in-2022 h2{
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
}


.Thank-you-for-your-support-in-2022 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Thank-you-for-your-support-in-2022 .part1 {
    display: flex;
    gap: 50px; /* Medzera medzi obrázkami */
}

.Thank-you-for-your-support-in-2022 .part2 {
    display: flex;
    gap: 250px; /* Medzera medzi obrázkami */
}

.Thank-you-for-your-support-in-2022 .part1 img,
.Thank-you-for-your-support-in-2022 .part2 img {
    margin: 0; /* Odstrániť predvolené okraje obrázkov */
}


.Thank-you-for-your-support-in-2022 .part1 .img-rsc{
    margin-top: 70px;
}


.Thank-you-for-your-support-in-2022 .part1 .img-spr{
    margin-top: 60px;
}

.Thank-you-for-your-support-in-2022 .part1 .img-pon {
    margin-top: 40px;
}

.Thank-you-for-your-support-in-2022 .part2 .img-bnr{
    margin-top: -24px;
    
    
}

.Thank-you-for-your-support-in-2022 .part2{
    margin-bottom: 200px;

}
/* sekcia -  Ďakujeme za podporu v roku 2022! koniec */






/* sekcia - email_newsletter začiatok */


.email_newsletter{

    margin-bottom: 200px;


}
.email_newsletter h2 {

    font-size: 1.25rem;
    margin-left: 150px; 
    

}

.email_newsletter input[type="email"] {
    width: 35%; /* Nastaví šírku inputu na 100% šírky rodičovského kontajnera */
    height: 40px;
    padding-left: 20px;
    padding-right: 60px;
    border-radius: 6px;
    border: none !important;
}

.email_newsletter input[type="email"] {
    margin-left: 700px;
    position: relative;
    top: -60px; /* Posunie input vyššie o 10 pixelov */
    
    
}

.email_newsletter button {
    position: relative;
    top: -57px; /* Posunie button vyššie o 10 pixelov */
    right: 40px;
    border: none;
    background: white;
}

.email_newsletter {

    background-color: #d7eaff !important;
    padding-top: 50px; 
    padding-bottom: 15px;
    padding-left: 20px; 
    padding-right: 20px; 
    border-radius: 6px;

    
}






